/* header */
.main-header {
  height: 56px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

/* use js applie */
.on-scroll {
  border-bottom: 1px solid rgb(220, 220, 220);
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}

.main-header .inner-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 56px;
  padding: 10px 20px;
  border-bottom: 1px solid rgb(224, 224, 224);
}

.main-header .inner-header .logo img {
  height: 28px;
}

.main-header nav ul {
  display: flex;
  gap: 20px;
  font-weight: bold;
}

.main-header nav ul li a {
  color: black;
  transition: .3s;

  &:hover {
    color: rgba(255, 92, 0, 1);
  }
}

.main-header nav ul li:last-child a {
  margin-right: 10px;
}

/* mobile */
.mobile-menu {
  font-size: 24px;
  display: none;
}

.mobile-menu div {
  width: 40px;
  height: 40px;
  border: 1px solid rgb(168, 167, 167);
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.mobile-menu div:hover {
  border-color: gray;
}

.mobile-menu div:active {
  border-color: rgb(19, 19, 19);
}

.mobile {
  height: 200px;
  transition: .3s;
}

.mobile-nav {
  display: none;
}

.mobile .mobile-nav {
  display: block;
}

.mobile-nav ul li {
  padding: 8px 0;
  text-align: center;
}

.mobile-nav ul .link {
  cursor: pointer;
  margin: 2px 0;
  border-radius: 4px;
}

.mobile-nav ul .link:active {
  background: rgba(215, 215, 215, 0.92);
}


/* hero */
.hero {
  height: 100vh;
  background: url(../images/beams-pricing.png) no-repeat;
  background-position: center;
  background-size: cover;
  padding: 10% 0;
  backdrop-filter: blur(10px);
}

.hero .container div {
  flex: 1;
}

.hero .container h1 {
  width: 90%;
}

.hero .container p {
  margin-bottom: 30px;
}

/* bascis section */
.basics {
  margin-bottom: 200px;
  padding: 100px;
  height: 100vh;
  background: url(../images/basics-bg.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  padding: 14% 0;
}

.basics-img {
  margin-right: 50px;
}

.basics .cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  margin-top: 30px;
}

.basics .cards .card h4 {
  margin-bottom: 10px;
}

.basics .cards .card p {
  font-size: 14px;
}

.basics .cards .card ul {
  margin-top: 8px;
  line-height: 1.6;
}

/* futures */
.futures {
  height: 100vh;
}

.futures .container {
  gap: 80px;
}

.futures p {
  margin-bottom: 50px;
}

/* rules */
.rule {
  padding: 10% 0;
  height: 100vh;
  background: url(../images/beams-pricing.png) no-repeat;
  background-position: center;
  background-size: cover;
}

.rule .cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

.card-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.card .card-icon img {
  height: 40px;
  width: 40px;
}

.rule .card h3 {
  margin-bottom: 16px;
}

.rule .card p {
  color: rgb(58, 58, 58);
}

/* cta */
.cta {
  height: 80vh;
  background: url(../images/basics-bg.jpg) no-repeat;
  background-size: cover;
  color: white;
  padding: 7% 0;
}

.cta .cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin-top: 30px;
}

.cta h2 {
  margin: 20px;
}

.cta .cards .card p {
  margin: 10px 0;
  color: rgb(199, 199, 199);
}

.cta .cards:last-child .card a {
  margin-top: 20px;
}

/* FAQ */
.faq,
footer {
  padding: 0 30px;
}

.faq .container {
  padding: 50px 0;
}

.faq .container p {
  padding-bottom: 15px;
}

.faq .container .faq-group {
  background: #f2f2f2;
  padding: 8px 22px;
  margin-bottom: 10px;
  border-radius: 4px;
  cursor: pointer;
}

.faq .container .faq-group .faq-group-header {
  border-bottom: 1px solid rgb(206, 206, 206);
  margin-bottom: 8px;
  position: relative;
  padding: 10px 0;
}

.faq .container .faq-group .faq-group-header .close-btn {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 30px;
  color: #525252;
  cursor: pointer;
  padding: 2px 10px;

  border-radius: 50%;
  transition: rotate .5s;

  &:hover {
    background-color: #e8e8e8;
  }
}

.faq .container .faq-group .faq-group-body {
  max-width: 90%;
  display: none;
  transition: display .5s;
}

/* javascript usable class */
.faq .container .faq-group-body.open {
  display: block;
}

.rotate-btn {
  rotate: 45deg;
}

/* footer */
footer .container {
  border-top: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  margin-bottom: 30px;
}

footer .container .github-link {
  height: 26px;
  width: 26px;
}

/* media query */
@media(max-width: 1177px) {
  .text-xxl {
    font-size: 2.5rem;
  }

  .hero {
    padding-top: 20%;
  }
}

@media(max-width: 1000px) {
  .basics .container .cards {
    grid-template-columns: 1fr;
  }
}

@media(max-width:850px) {
  .main-header nav {
    display: none;
  }

  .mobile-menu {
    display: block;
  }

  .hero .container,
  .basics .container,
  .futures .container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .basics .container {
    flex-direction: column-reverse;
  }

  .rule .container .cards {
    grid-template-columns: 1fr 1fr;
  }

  .cta .cards {
    grid-template-columns: 1fr;
  }

  .faq,
  footer {
    padding: 0 20px;
  }

  .hero h1,
  .hero p {
    text-align: center;
  }

  .hero .container .btn {
    margin: 0 auto;
    display: block;
    max-width: 300px;
    margin-bottom: 40px;
  }

  .basics,
  .futures,
  .rule,
  .cta,
  .hero {
    padding: 30px 0;
    margin: 0;
    height: unset;
  }

  .rule {
    padding: 30px 40px;
  }

  .basics .basics-img {
    display: block;
    margin: 0 auto;
    margin-top: 22px;
  }

  .futures h1 {
    text-align: center;
  }

  .futures p {
    margin-bottom: 20px;
  }

  .futures .container .btn {
    display: block;
    max-width: 200px;
    margin: 0 auto;
    border-radius: 40px;
  }

  .futures .container {
    gap: 30px;
  }

  .basics .container .cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 660px) {
  .rule .container .cards {
    grid-template-columns: 1fr;
  }
}


@media(max-width: 500px) {
  .rule {
    padding: 30px 0px;
  }

  .text-xxl {
    font-size: 1.86rem;
  }

  .rule .container .cards,
  .basics .container .cards {
    grid-template-columns: 1fr;
  }
}